
/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Lato);
$primaryFont    : "Lato", "sans-serif";

/* Colors */
$mainColor      : #42bb93;
$mainColorDark  : #3ea684;
$grey1			: #404040;
$grey2			: #a1a1a1;
$grey3			: #c9c9c9;
$grey4			: whitesmoke; //#eeeeee;
$red			: #f14c4c;

/* Times */
$transitionTime : .5s;