

/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);
$primaryFont    : "Josefin Sans", "sans-serif";

/* Colors */
$color1         : #6f6e6e;

/* Times */
$transitionTime : .5s;