
* {
	margin: 0;
	padding: 0;
}

// Box-model :  [width] = [element-width] + [padding] + [borders]
*,
*:after,
*:before {
    box-sizing: border-box;
}


html, body, .container, #timeline {
	height: 100%;
}


body {
	font: 1em/1.3 $primaryFont;
	background-color: $grey4;
	color: $grey1;
}

h1 {
	display: inline-block;
	font-size: 1.3em;
	color: $grey1;
	font-weight: 500;
	padding: 10px;
}

h2 {
	padding: 20px 0;
}

a {
	color: $mainColor;
}


// form 
label {
	display: block;
	float: left;
	text-align: right;
	padding: 23px 20px 0px 0;
	width: 30%;
}

input {
	width: 70%;
	float: left;
	font-size: 1em;
	padding: 15px 15px;
	margin: 10px 0;
	border: 1px solid $grey4;
	@include border-radius(3px);
	&:focus {
		border-color: $grey3;
	}
}

button {
	margin: 20px;
	cursor: pointer;
}

.btn {
	@include border-radius(3px);
	border: none;
	font-size: 1em;

	&.style1 {
		padding: 7px 15px 8px;
		color: white;
		background-color: $mainColor;
		&:hover, &:focus {
			background-color: $mainColorDark;
		}
	}

	&.style2 {
		padding: 6px 14px 7px;
		color: $mainColor;
		border: 1px solid $mainColor;
		&:hover, &:focus {
			color: $mainColorDark;
			border-color: $mainColorDark;
		}
	}
}


// Outline
a, input, button {
	outline: none;
}




// classes utiles



/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}


// hide

.hide { display: none !important; }


// selection

::-moz-selection { background: black; color: #FFFFFF; text-shadow: none; }
::selection { background: black; color: #FFFFFF; text-shadow: none; opacity: .1; }


// placeholder

::-webkit-input-placeholder { color: $grey3; }
:-moz-placeholder { color: $grey3; } 
::-moz-placeholder { color: $grey3; }
:-ms-input-placeholder { color: $grey3; } 