@import "compass/css3";

header {
	position: fixed;
	width: 100%;
	height: 50px;
	top: 0;
	background-color: rgba(255,255,255,.95);
	z-index: 3;

	.burger {
		float: left;
		width: 45px;
		height: 100%;
		margin: 0 5px 0 10px;
		padding: 13px 0;
		@include transition( margin .2s ease-in-out );
		> span {
			display: block;
			width: 25px;
			height: 2px;
			margin: 4px auto;
			@include border-radius(2px);
			background-color: $mainColor;
			@include transition( all .2s ease-in-out, width .08s ease-in-out );
		}
		&:hover, &:focus {
			> span {
				background-color: $mainColorDark;
				width: 30px;
			}
		}
	}
	.logo {
		display: inline-block;
		font-size: 1.3em;
		padding: 10px 20px;	
	}
	h1 {
		display: inline-block;
		font-size: 1.3em;
		color: $grey1;
		font-weight: 500;
		padding: 10px 10px 10px 5px;
		a {
			color: inherit;
			cursor: default;
		}
	}
	p.date {
		display: inline-block;
		color: $grey2;
		font-size: .95em;
	}
	a.profil, a.login {
		float: right;
		margin: 4px 10px 6px;
		padding: 10px;
	}
	a.btn {
		float: right;
		margin: 8px 8px 8px 0;
	}
}

.save-indication {
	display: none;
	color: $grey2;
	float: right;
	padding: 14px 20px;
}

.page-home header h1 a {
	color: $mainColor;
	cursor: pointer;
}

.icon-profil {
	position: relative;
	width: 35px;
	height: 35px;
	@include border-radius(100%);
	border: 1px solid $mainColor;
	overflow: hidden;
	@include transition( background-color .1s ease-in-out );
	span {
		display: block;
		margin: 6px 0 0 9px;
		width: 15px;
		height: 15px;
		@include border-radius(100%);
		border: 1px solid $mainColor;
		background-color: white;
		&::after {
			content: '';
			display: block;
			margin: 15px -6px;
			width: 25px;
			height: 25px;
			@include border-radius(100%);
			border: 1px solid $mainColor;
			background-color: white;
		}
	}
	&:hover {
		background-color: $mainColor;
	}
}

.profil-plus {
	display: none;
	position: absolute;
	right: 0px;
	top: 50px;
	background-color: white;
	padding: 10px 20px;
	@include border-radius(4px);
}