@import "compass/css3";

header {
	position: fixed;
	width: 100%;
	height: 50px;
	top: 0;
	background-color: white;
	z-index: 3;

	.burger {
		float: left;
		width: 45px;
		height: 100%;
		margin: 0 5px 0 10px;
		padding: 13px 0;
		@include transition( margin .2s ease-in-out );
		> span {
			display: block;
			width: 25px;
			height: 2px;
			margin: 4px auto;
			@include border-radius(2px);
			background-color: $mainColor;
			@include transition( all .2s ease-in-out, width .08s ease-in-out );
		}
		&:hover, &:focus {
			> span {
				background-color: $mainColorDark;
				width: 30px;
			}
		}
	}
	.logo {
		display: inline-block;
		font-size: 1.3em;
		padding: 10px 20px;	
	}
	h1 {
		display: inline-block;
		font-size: 1.3em;
		color: $grey1;
		font-weight: 500;
		padding: 10px;
	}
	p.date {
		display: inline-block;
		color: $grey2;
		padding-left: 5px;
		font-size: .95em;
	}
	a.profil, a.login {
		float: right;
		margin: 10px;
		padding: 5px 10px 6px 5px;
	}
	a.btn {
		float: right;
		margin: 8px 8px 8px 0;
	}
}