
#home {
	display: none;
	z-index: 3;
	margin-top: 50px;
	&.show {
		display: block;
	}
}

.bloc {
	display: block;
	width: 100%;
	padding-right: 100px;
	padding-left: 100px;
	&:after {
	  content: '';
	  display: table;
	  clear: both;
	}
}

.discover {
	background-color: white;
	padding-top: 120px;
	padding-bottom: 100px;
	margin-bottom: 20px;
}
.mytimelines {
	padding-top: 50px;
}
.collections {
	padding: 20px 100px;
}


.search_in_collection {
	width: 100%;
	margin-bottom: 3%;
	border-color: $grey3;
	background-color: transparent;
}

.mini_tl {
	float: left;
	width: 23.5%;
	margin: 0 2% 2% 0;
	text-align: center;

	&:nth-child(4n) {
		margin-right: 0;
	}

	> a {
		display:block;
		height: auto;
		min-height: 100px;
		max-height: 150px;
		padding: 20px;
		background-color: white;
	}
	&.create > a {
		border: 2px solid white;
		background-color: transparent;
	}
}