
#modal {

	.modal {
		position: fixed;
		top: 50%;
		left: 50%;
		width: 50%;
		max-width: 630px;
		min-width: 320px;
		height: auto;
		z-index: 2000;
		visibility: hidden;
		@include backface-visibility(hidden);
		@include transform( translateX(-50%) translateY(-50%) );

		.md-content {
			position: relative;
			@include transform( scale(0.7) );
			opacity: 0;
			visibility: hidden;
			@include transition(all .3s);
			color: $grey1;
			text-align: center;
			background-color: white;
			margin: 0 auto;
			padding: 40px;
		}
		&.show {
			visibility: visible;
			.md-content {
				@include transform( scale(1) );
				visibility: visible;
				opacity: 1;
			}
			& ~ .overlay {
				opacity: 1;
				visibility: visible;
			}
		}
		
		&.error {
			h2 {
				color: $red;
			}
			& ~ .overlay {
				border-color: $red;
			}
		}
	}
	.overlay {
		position: fixed;
		width: 100%;
		height: 100%;
		visibility: hidden;
		top: 0;
		left: 0;
		z-index: 1000;
		opacity: 0;
		background: rgba(255,255,255,0.94);
		border-top: 10px solid $mainColor;
		border-bottom: 10px solid $mainColor;
		@include transition(all .3s);
	}
}


