
.container.nav {

	.burger {
		> span:nth-child(1) {
			@include transform( rotate(45deg) );
			margin-top: 11px;
		}
		> span:nth-child(2) {
			@include opacity(0);
		}
		> span:nth-child(3) {
			@include transform( rotate(-45deg) );
			margin-top: -13px;
		}
		& ~ h1, & ~ .date {
			@include opacity(.4);
		}
		&:hover ~ h1, &:hover ~ .date {
			@include opacity(.5);
		}
	}

	#categories {
		width: 1000px !important; // Idéalement la largeur du navigateur
		overflow: hidden;
		@include transform( scale(.3) );
		/* -webkit-transform-origin: left; */
		@include box-shadow( 0px 0px 50px rgba(0,0,0,.2) );
		@include transition(transform .3s ease-in-out);
		cursor: pointer;
		@include border-radius( 8px );

		&::before {
			content:'';
			position: absolute;
			z-index: 5;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
			@include border-radius( 16px );
		}
		&:hover::before {
			border: 10px solid $mainColor;
		}
	}
}
