
#map {
	position: fixed;
	//opacity: 0;
	//visibility: hidden;
	bottom: 0px;
	width: inherit;
	margin: 0;
	height: auto;
	padding: 6px 0;
	background-color: $grey3;
	//border: 1px solid $grey2;
	//box-shadow: 0px 0px 4px 0px rgba(0,0,0,.15);
	z-index: 2;
	//@include border-radius(4px);
	@include transition(all 1s, width 0.1s);
	//cursor: pointer;
	
	.sight {
		position: absolute;
		top: 0;
		width: 20%;
		height: 100%;
		background-color: $grey4;
		.handle {
			position: absolute;
			width: 20px;
			height: 20px;
			margin: 15px -10px 0 -10px;
			@include transform( rotate(45deg) );
			border: 1px solid $mainColor;
			background-color: $grey4;
			z-index: 1;
			cursor: col-resize;
			cursor: -webkit-col-resize;

			&.right {
				right: 0;
			}
			&.left {
				left: 0;
			}
			&:hover {
				background-color: $mainColor;
			}
		}
	}

	> .categorie {
		height: 4px;
		//border-bottom: 1px solid $grey2;
		margin-bottom: 2px;
		> .event {
			position: absolute;
			width: 6px;
			height: 6px;
			margin-top: 1px;
			background-color: $grey2;
			@include border-radius(50%);
			&::before {
				content:'';
				position: absolute;
				display: none;
				width: 12px;
				height: 12px;
				margin: -3px;
				border: 1px solid $mainColor;
				@include border-radius(50%);
			}
			&.active::before{
				display: block;
			}
		}
	}

	&.show {
		opacity: 1;
		visibility: visible;
	}
	&:hover {
		opacity: 1;
		visibility: visible;
	}
}