@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);
/* Fonts */
/* Colors */
/* Times */
/* line 2, ../sass/reset.scss */
html, body, ul, ol, h1, h2, h3 {
  padding: 0;
  margin: 0;
}

/* line 7, ../sass/reset.scss */
a {
  text-decoration: none;
}

/* line 9, ../sass/reset.scss */
p {
  margin: 0;
}

/* line 11, ../sass/reset.scss */
ul {
  list-style-type: none;
}

/* line 2, ../sass/core.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 10, ../sass/core.scss */
*,
*:after,
*:before {
  box-sizing: border-box;
}

/* line 14, ../sass/core.scss */
html, body, .container, .screen {
  height: 100%;
}

/* line 18, ../sass/core.scss */
body {
  font: 1.4em/1.3 "Josefin Sans", "sans-serif";
  background-color: lightgrey;
}

/* line 27, ../sass/core.scss */
.hide {
  display: none !important;
}

/* line 30, ../sass/core.scss */
::-moz-selection {
  background: black;
  color: #FFFFFF;
  text-shadow: none;
}

/* line 31, ../sass/core.scss */
::selection {
  background: black;
  color: #FFFFFF;
  text-shadow: none;
  opacity: .1;
}

/* line 34, ../sass/core.scss */
::-webkit-input-placeholder {
  color: #FFFFFF;
}

/* line 35, ../sass/core.scss */
:-moz-placeholder {
  color: #FFFFFF;
}

/* line 36, ../sass/core.scss */
::-moz-placeholder {
  color: #FFFFFF;
}

/* line 37, ../sass/core.scss */
:-ms-input-placeholder {
  color: #FFFFFF;
}

/* line 3, ../sass/fiche.scss */
#fiche {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 20%;
  height: 100%;
  background: white;
}

/* line 10, ../sass/timeline.scss */
a.btn {
  background: white;
  padding: 20px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

/* line 16, ../sass/timeline.scss */
.top {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #d9d9d9;
}
/* line 21, ../sass/timeline.scss */
.top .nav {
  float: left;
  width: 80px;
  height: 100%;
  padding: 13px 0;
}
/* line 26, ../sass/timeline.scss */
.top .nav > span {
  display: block;
  width: 35px;
  height: 2px;
  margin: 4px auto;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background-color: black;
  -webkit-transition: width 0.08s ease-in-out;
  -moz-transition: width 0.08s ease-in-out;
  -o-transition: width 0.08s ease-in-out;
  transition: width 0.08s ease-in-out;
}
/* line 36, ../sass/timeline.scss */
.top .nav:hover > span {
  width: 40px;
}
/* line 41, ../sass/timeline.scss */
.top p.title {
  display: inline-block;
  padding: 12px 0;
}
/* line 45, ../sass/timeline.scss */
.top p.date {
  display: inline-block;
  color: #a1a1a1;
}
/* line 49, ../sass/timeline.scss */
.top a.edit {
  float: right;
  padding: 6px 20px;
  margin: 5px;
}

/* line 57, ../sass/timeline.scss */
#themes {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50px;
  background: #eaeaea;
  z-index: -1;
}
/* line 65, ../sass/timeline.scss */
#themes .line {
  float: left;
  width: 80px;
  height: 100%;
  background-color: white;
}
/* line 72, ../sass/timeline.scss */
#themes.themes-1 > .theme {
  width: 100%;
}
/* line 73, ../sass/timeline.scss */
#themes.themes-2 > .theme {
  width: 50%;
}
/* line 74, ../sass/timeline.scss */
#themes.themes-3 > .theme {
  width: 33.33%;
}
/* line 75, ../sass/timeline.scss */
#themes.themes-4 > .theme {
  width: 25%;
}
/* line 76, ../sass/timeline.scss */
#themes.themes-5 > .theme {
  width: 20%;
}
/* line 77, ../sass/timeline.scss */
#themes.themes-6 > .theme {
  width: 16.66%;
}
/* line 78, ../sass/timeline.scss */
#themes.themes-7 > .theme {
  width: 14.28%;
}
/* line 79, ../sass/timeline.scss */
#themes.themes-8 > .theme {
  width: 12.5%;
}
/* line 80, ../sass/timeline.scss */
#themes.themes-9 > .theme {
  width: 11.11%;
}
/* line 81, ../sass/timeline.scss */
#themes.themes-10 > .theme {
  width: 10%;
}
/* line 83, ../sass/timeline.scss */
#themes .theme {
  position: relative;
  height: 100%;
  float: left;
  border: 1px solid #d9d9d9;
}
/* line 88, ../sass/timeline.scss */
#themes .theme .name {
  position: fixed;
  right: 2%;
  text-transform: uppercase;
  margin: 20px;
  font-size: 12px;
}
