@import url(http://fonts.googleapis.com/css?family=Lato);
/* Fonts */
/* Colors */
/* Times */
/* line 5, ../sass/tlfiche.scss */
#fiche.open ~ #timeline {
  width: 70%;
  background-color: red;
}

/* line 10, ../sass/tlfiche.scss */
#fiche {
  display: none;
  position: fixed;
  right: 0;
  top: 50px;
  width: 30%;
  height: 100%;
  padding-bottom: 50px;
  overflow: scroll;
  background: whitesmoke;
  border-left: 1px solid whitesmoke;
  border-top: 2px solid #42bb93;
  z-index: 2;
}
/* line 24, ../sass/tlfiche.scss */
#fiche.open {
  display: block;
}
/* line 27, ../sass/tlfiche.scss */
#fiche.open ~ #timeline {
  width: 70%;
}
/* line 32, ../sass/tlfiche.scss */
#fiche .fiche {
  /*
  .fiche-top {
  	width: 100%;
  	height: 40px;
  	padding: 9px 30px;
  	background-color: $grey4;
  }
  */
}
/* line 41, ../sass/tlfiche.scss */
#fiche .fiche .close {
  text-indent: -99999px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  background-color: #42bb93;
}
/* line 50, ../sass/tlfiche.scss */
#fiche .fiche .close::before, #fiche .fiche .close::after {
  content: '';
  position: absolute;
  top: 11px;
  left: 19px;
  width: 2px;
  height: 16px;
  background: white;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 61, ../sass/tlfiche.scss */
#fiche .fiche .close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 64, ../sass/tlfiche.scss */
#fiche .fiche .close:hover {
  background-color: #3ea684;
}
/* line 71, ../sass/tlfiche.scss */
#fiche .fiche .visuel {
  width: 100%;
  height: 250px;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
}
/* line 78, ../sass/tlfiche.scss */
#fiche .fiche.book .visuel {
  height: 200px;
  margin: 40px 0 10px;
  background-size: contain;
  background-repeat: no-repeat;
}
/* line 84, ../sass/tlfiche.scss */
#fiche .fiche .fiche-content {
  padding: 0 30px;
}
/* line 87, ../sass/tlfiche.scss */
#fiche .fiche h2 {
  padding: 20px 0 15px;
  font-size: 1.3em;
}
/* line 91, ../sass/tlfiche.scss */
#fiche .fiche p {
  padding: 10px 0;
  font-size: 0.9em;
  line-height: 1.5em;
}
/* line 96, ../sass/tlfiche.scss */
#fiche .fiche .author {
  color: #a1a1a1;
}
/* line 99, ../sass/tlfiche.scss */
#fiche .fiche .chapeau {
  font-size: 1.05em;
  font-style: italic;
  color: #a1a1a1;
}
