@import "compass";


*:focus {
  outline: 0 none;
}

a {
  color: #202020;
}

#screens, #specials_screens, #objects, #fields, #keyboards {
  display: none;
}

.container h1 {
  display: inline-block;
  font-size: 1.6em;
  padding: 30px 0 20px 20px;
  float: left;
}

#nav {
  position: fixed;
  width: 100%;
  height: 66px;
  top: 0;
  text-align: left;
  background-color: white;
  z-index: 10;
  padding-left: 10px;
  box-shadow: 2px 0px 15px rgba(0,0,0,.1);
  li {
    &.current a {
      background-color: black;
      color: white;
    }
    a {
      display: block;
      float: left;
      font-size: .9em;
      line-height: 1.6em;
      padding: 17px 12px;
    }
  }
  #save {
    position: absolute;
    top: 10px;
    right: 20px;
    border-radius: 2px;
  }
}

/* 
#sidebar {
  position: fixed;
  width: 230px;
  height: 100%;
  top: 0;
  text-align: left;
  background-color: white;
  z-index: 10;
  padding: 40px;
  box-shadow: 2px 0px 15px rgba(0,0,0,.1);
  li a {
    display: block;
    margin-bottom: 10px;
    font-size: 1em;
  }
} */


.add {
  width: 100%;
  padding: 0px;
  background-color: #eeeeee;
  position: fixed;
  bottom: 0;
  height: 60px;
  z-index: 2;
  a {
    font-size: 2.8em;
    display: block;
    line-height: 1.0em;
    &:hover {
      background-color: white;
    }
  }
}

.button {
  padding: 10px 12px 5px;
  text-transform: uppercase;
  color: black;
  border: 1px solid gray;
  background: white;
}

.remove {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 1.5em;
}
.remove:before {
  content: 'x';
  width: 20px;
  height: 20px;
  display: block;
  color: white;
}


.container {
  margin-bottom: 60px;
  margin-top: 66px;
  
  .screen:last-child {
    margin-bottom: 60px;
  }
  .screen, .object {
    position: relative;
    height: auto;
  }

  .screen .box {
    padding: 80px;
  }



  input[type="text"] {
    padding: 10px;
    margin: 20px;
    background-color: rgba(255,255,255,.2);
    border: 0px solid black;
  }

  input.color {
    position: absolute;
    top: 0;
    left: 0;
  }
  input.color:focus {
    background-color: rgba(255,255,255,.5);
  }
  input.pattern, input.sound, input.type {
    width: 23%;
  }


  .screen .fields {
    position: absolute;
    left: 20px;
    top: 73px;
    width: 50px;
  }

  input[type="checkbox"] {
    display: none;
  }
  label {
    cursor: pointer;
    font-size: 13px;
  }
  label:before {
    content: "";
    display: inline-block;
    width: 80px;
    height: 40px;
    padding-top: 15px;
    border: 1px solid rgba(0,0,0,.1);
    /*background-color: rgba(255,255,255,.2);*/
  }

  input[type=checkbox]:checked + label:before {
    
  }
  input[type=checkbox]:checked + label.marais:before {
    background-color: #f7ede2;
  }
  input[type=checkbox]:checked + label.foret:before {
    background-color: #cae9da;
  }
  input[type=checkbox]:checked + label.mer:before {
    background-color: #ecf5fc;
  }
  input[type=checkbox]:checked + label.montagne:before {
    background-color: #f7e2f6;
  }

  label.marais:before {
    content: 'Marais';
  }
  label.foret:before {
    content: 'Forêt';
  }
  label.mer:before {
    content: 'Mer';
  }
  label.montagne:before {
    content: 'Montagne';
  }
}